* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    padding: 10px;
}

.accordion {
    transition: .3s all ease;
    border-top: 1px solid gray;
}

input {
    display: none;
}

label {
    display: grid;
    grid-template-columns: 2fr 1fr;
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    align-items: center;
}

.accordion-icon {
    display: block;
    background-image: url("./icons/arrow.svg");
    background-size: cover;
    width: 20px;
    height: 20px;
    transition: .3s all ease-in-out;
    justify-self: end;
}

.content {
    width: 100%;
    max-height: 0;
    transform: scale(0);
    overflow: hidden;
    transition: .3s all ease-in-out;
    grid-column-start: 1;
    grid-column-end: 3;
}

img {
    width: 100%;
}

input:checked ~ label > .content{
    max-height: 400px;
    transform: scale(1);
}

input:checked ~ label > .accordion-icon {
    transform: rotate(180deg);
}

@media (min-width:820px) or (min-height:1180px) {
    h1 {
        font-size: 100px;
    }

    label {
        font-size: 50px;
    }

    .content {
        max-width: 800px;
        justify-self: center;
    }

    input:checked ~ label > .content{
        max-height: 800px;
        transform: scale(1);
    }
}

@media (min-width:1170px) {
    .accordions-container {
        width: 100%;
        max-width: 1170px;
        margin: 0 auto;
    }

    .accordions-container:hover > .accordion > label {
        color: black;
    }
    .accordions-container:hover > .accordion > label > .accordion-icon {
        opacity: 1;
    }

    h1 {
        font-size: 72px;
    }

    label {
        font-size: 30px;
        transition: .2s all ease-in;
        color: blue;
    }

    label:hover > .content {
        max-height: 500px;
        transform: scale(1);
    }

    .accordion-icon {
        opacity: 0;
    }

    .content {
        max-width: 500px;
        justify-self: center;
    }

    input:checked ~ label > .content{
        max-height: 500px;
        transform: scale(1);
    }

    input:checked ~ label {
        color: black;
    }
}